/******************************************************
file: main.css
main CSS file for custom CSS
*******************************************************/
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Bungee', cursive;
	color: #ceb252;
}

a {
	color: rgba(199, 166, 56, 1);
}
a:hover {
	color: rgba(221, 201, 136, 1);
    text-decoration: none;
}
/********************************************
LISTE POST & POST (override bootstrap)
********************************************/

.navbar-dark .navbar-nav .nav-link {
	color: rgba(199, 166, 56, 1);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(221, 201, 136, 1);
}
.navbar-dark .navbar-brand, #emailHelp {
	color: #ceb252 !important;
}
.modal-body .form-group label, .card-body .form-group label, .modal-body p {
	color: rgba(0,0,0,1);
}
.card {
    border: 1px solid #ceb252;
    margin-bottom: 10px;
}
.card-subtitle {
    line-height: 1.05;
    font-size: 80%;
    font-weight: 400;
}
.commentParentBack {
    background-color:rgba(206, 178, 82, .2);
    padding:5px;
}

/********************************************
MAIN CONTENT
********************************************/
#main_bloc {
    flex: 1 0 auto;
    margin-top: 10px;
}

/********************************************
listPosts
********************************************/
.card-title {
    color: #000;
}
.card-body p {
    color: #000;
}
.child_com {
    padding-left: 60px;
}

.news_img_link {
	position: relative;
}
.overlay_news_img {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(206,178,82,0.4);
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}
.news_img_link:hover .overlay_news_img {
	width: 100%;
}
.overlay_news_text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

/********************************************
FOOTER
********************************************/
#footer_bloc {
    margin-top:15px;
    flex-shrink: 0;
}
.navbar-dark .navbar-text a {
	color: rgba(199, 166, 56, 1);
}
.navbar-dark .navbar-text a:hover {
	color: rgba(221, 201, 136, 1);
}

/********************************************
ADMIN PARTS CONTENT
********************************************/
.sideBar {
    background-color:rgba(206, 178, 82, .1);
}
.adminBTN {
    padding:5px;
    background-color:rgba(255, 255, 255, .8);
    border: 1px solid #ceb252;
    border-radius:10px
}
.adminBTN:hover {
    background-color:rgba(255, 255, 255, 1);
}
#divNameUserModal {
    color: #000;
}
