{% extends 'backoffice/adminEditPost.twig' %}

{% block contentMessage %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">FELICITATION !</h4>
        <p>Vous avez correctement créer votre nouveau post.</p>
    </div>
{% endblock contentMessage %}
