{% extends 'backoffice/template.twig' %}

{% block title %}
    <title>Edition du Post</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>Modifier le post</h1>
        </div>
    </div>
{% endblock content %}
