{% extends 'backoffice/template.twig' %}

{% block title %}
    <title>Accueil Administration</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>Gestion des Catégorie de post</h1>
        </div>
    </div>
{% endblock content %}
