{% extends 'backoffice/adminComments.twig' %}

{% block contentMessage %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">FELICITATION !</h4>
        <p>Vous avez correctement mis à jour le commentaire.</p>
    </div>
{% endblock contentMessage %}