<div class="row">
    <div class="col">
        <h4>Menu Admin</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <li><a href="index.php?p=admin">Accueil BackOffice</a></li>
            {% if userObject.idrole in [1,2] %}
                <li><a href="index.php?p=adminAddPost">Nouveau Posts</a></li>
                <li><a href="index.php?p=adminPosts">Gerer Posts</a></li>
                <li><a href="index.php?p=adminComments">Gerer Comments</a></li>
            {% endif %}
            {% if userObject.idrole in [1] %}
                <li><a href="index.php?p=adminCatPosts">Gerer Catégories</a></li>
                <li><a href="index.php?p=adminUsers">Gerer Users</a></li>
            {% endif %}
        </ul>
    </div>
</div>
