<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% block title %}{% endblock title %}
        
        <!-- libraries CSS -->
        <link href="vendor/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        {% block csslib %}{% endblock csslib %}
        
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet" />

        <!-- yBernier css -->
        <link href="public/css/main.css" rel="stylesheet" /> 
    </head>
        
    <body>
        <!-- MODAL Logout -->
        <div class="modal fade" tabindex="-1" role="dialog" id="logoutModal" aria-labelledby="logoutModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Déconnexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
                  <div class="modal-body">
                    <p>Voulez vous vraiment vous déconnecter ?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Annuler</button>
                    <a href="index.php?p=logout" class="btn btn-danger">Se Déconnecter</a>
                  </div>
            </div>
          </div>
        </div>            
        
        <!-- HEADER -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <a class="navbar-brand" href="index.php">
                <img src="public/img/avatar_head.png" width="45" height="45" alt="avatar_head"> yBernier Blog
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar ml-auto">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="index.php?p=admin">BackOffice</a>
                        <a class="nav-item nav-link" href="index.php">FrontOffice <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#"  data-toggle="modal" data-target="#logoutModal">Déconnexion</a>
                        <span class="nav-item nav-link">{{ userObject.firstname }} {{ userObject.lastname }}</span>
                        <div class="nav-item d-block d-md-none">
                            {% include 'backoffice/sideBar.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>    
        
        <!-- BODY -->
        <div class="container" id='main_bloc'>
            <div class="row">
                <div class="d-none d-sm-block col-md-3 sideBar">
                    {% include 'backoffice/sideBar.twig' %}
                    {% block subSideBar %}{% endblock subSideBar %}
                </div>
                <div class="col-md-9">
                    {% block contentMessage %}{% endblock contentMessage %}
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
        
        <!-- FOOTER-->
        <footer class="navbar navbar-expand-lg navbar-dark bg-dark" id='footer_bloc'>
            <div class="navbar">
                <div class="navbar-nav">
                <a class="nav-item nav-link" href="https://github.com/webyves/ybernier_blog">V0.017 - &copy; <strong>yBernier</strong></a>
                </div>
            </div>
        </footer>    
        
        
        <!-- libraries JS -->
        <script src="vendor/components/jquery/jquery.min.js"></script>
        <script src="vendor/components/bootstrap/js/bootstrap.min.js"></script>
        {% block jslib %}{% endblock jslib %}
        <!-- Summernote CSS JS -->
        <!-- inutile dans le frontend
        <link href="vendor/summernote/summernote/dist/summernote-bs4.css" rel="stylesheet" /> 
        <script src="vendor/summernote/summernote/dist/summernote-bs4.min.js"></script>
        <script src="vendor/summernote/summernote/dist/lang/summernote-fr-FR.min.js"></script>
        <script>
            $(document).ready(function() {
              $('#summernote').summernote({
                lang: 'fr-FR'
              });
            });
        </script>
        -->
        
        <!-- yBernier js -->
        <script src="public/js/adminMain.js" rel="stylesheet"></script> 
    </body>
</html>