{% extends 'frontoffice/template.twig' %}

{% block title %}
    <title>yBernier Blog Accueil</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>Bienvenue sur yBernier Blog</h1>
            <h3>Votre developpeur PHP/Symfony</h3>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <img class="img-fluid" src="public/img/avatar.png" title="Mon Avatar" alt="image avatar">    
        </div>
        <div class="col">
            <p class="text-justify">
                Vous trouverez ici <a href="public/files/Yves-BERNIER-CV-2018.pdf" target="_blank">mon CV</a>, 
                si vous avez la flemme de continuez a lire ses lignes vous pouvez aussi, 
                me <a href="index.php?p=contact">contacter via mon formulaire</a>.
            </p>
            <p  class="text-justify">
                Avec de nombreuses années d'experience dans divers domaines de l'informatiques (Hardware, Software, Web, Installation, Depannage, Reseaux ...)
                Je me suis tourné rapidement vers la programmation et le developpement Web. Mes connaissances dans le domaines etaient autodidacte, 
                jusqu'à ce que je decouvre OpenClassRooms qui m'a permis d'obtenir mon premier certification d'integrateur web et ainsi de decrocher un job dans le domaine. 
                Puis toujours en quetes de de nouveaux savoir j'ai decidé de validéer mes connaissances par un diplome de Developpeur d'Application PHP/Symfony, toujours 
                sur OpenClassRooms.
            </p>
            <p class="text-justify">
                Désormais AutoEntrepreneur, je repond à toutes vos questions et à tous vos besoins en matieres de web, 
                et je vous invite à naviguer sur mon Blog pour decouvrir mes derniers projets realisés, ou mes divers centres d'interets.
            </p>
        </div>
    </div>
{% endblock content %}
