{% extends 'frontoffice/template.twig' %}

{% block title %}
    <title>Politique de confidentialite</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>Politique de confidentialité</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col text-justify">
            <h4>1. Données à caractère personnel :</h4>
            <p>
                Conformément à la loi relative à l'informatique, aux fichiers et aux libertés du 6 janvier 1978, les informations à caractère nominatif pourront faire l'objet d'un traitement automatisé.
                L’atelier de Mère Eclair se réserve le droit de collecter des informations sur les visiteurs via son formulaire de contact.
                Les utilisateurs disposent d'un droit d'accès et de rectification des données les concernant, conformément à la loi du 6 janvier 1978.
                Le traitement automatisé d'informations, y compris la gestion des adresses e-mail des utilisateurs du site a fait l'objet d'une déclaration à la CNIL le 01/10/2015 enregistrée sous le numéro 1892847
            </p>

            <h4>2. Cookies :</h4>
            <p>
                Ce site n'utilise qu'un cookie de connexion permettant de garder votre session 36h et uniquement si vous le souhaitez lors de votre connexion (via la case se souvenir de moi). 
                Aucun autre cookie, de site tiers, ou de tracking, etc..., n'est présent sur ce site.
            </p>
            <h4>3. Contenu embarqué depuis d’autres sites:</h4>
            <p>
                Ce site ne relie les données de ses visiteurs à aucun autre site tiers et aucuns réseaux sociaux. Seuls des liens vers les contenus sur reseaux sociaux de L’atelier de Mère Eclair sont disponible.
            </p>
        </div>
    </div>
    
{% endblock content %}
