{% extends 'listPosts.twig' %}

{% block contentMessage %}
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">FELICITATION !</h4>
        <p>Votre message, viens d'etre envoyé a nos administrateur.<br>
        Vous serez recontacter sous peu.</p>
    </div>
{% endblock contentMessage %}