{% extends 'template.twig' %}

{% block title %}
    <title>Contact</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>PAGE DE CONTACT</h1>
        </div>
    </div>

{% endblock content %}
