{% extends 'listPosts.twig' %}

{% block contentMessage %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">FELICITATION !</h4>
        <p>Un message, viens d'etre envoyé à nos administrateurs concernant votre inscription.<br>
        Vous serez informé de la validation de votre inscription sous peu par email.<br>
        Vous seul connaissez votre mot de passe. En cas de perte veuillez <a href="index.php?p=contact">contacter</a> un Administrateur pour sa reinitialisation.</p>
    </div>
{% endblock contentMessage %}