{% extends 'listPosts.twig' %}

{% block contentMessage %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">FELICITATION !</h4>
        <p>Votre message, viens d'etre envoyé a nos administrateur concernant votre inscription.<br>
        Vous serez informé de la validation de votre inscription sous peu.</p>
    </div>
{% endblock contentMessage %}