{% extends 'frontoffice/inscription.twig' %}

{% block contentMessage %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Erreur !</h4>
        <p>Une Erreur c'est produite :<br>
        {{ errorMessage }}.</p>
    </div>
{% endblock contentMessage %}
