<div class="row">
    <div class="col text-center">
        <h3>Liste des posts</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        {% for postListMenuCatName, postListMenuItems in postListMenu %}
        <h4>{{ postListMenuCatName }}</h4>
            <ul>
            {% for postListMenuItem in postListMenuItems | slice(0,5) %}
                <li><a href="index.php?p=post&i={{ postListMenuItem.idpost }}">{{ postListMenuItem.title }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>
