{% extends 'postComments.twig' %}

{% block message %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">FELICITATION !</h4>
        <p>Un message, viens d'etre envoyé à nos administrateurs concernant votre commentaire.<br>
        Vous serez informé de la validation de votre commentaire sous peu par email.</p>
    </div>
{% endblock message %}
